/*
 html, body {
 padding: 0;
 margin: 0;
 height: 100%;
 width: 100%;
 font-family: Arial, Helvetica, sans-serif;
 }
 */
html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: #FFF;
	overflow: hidden;
	font-family: "Trebuchet MS";
}
.stop {
	border: 1px solid #c4c4c4;
	height: 25;
	width: 75%;
	font-size: 13px;
	padding: 4px 4px 4px 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 8px #d9d9d9;
	-moz-box-shadow: 0px 0px 8px #d9d9d9;
	-webkit-box-shadow: 0px 0px 8px #d9d9d9;
}

.stop:focus {
	outline: none;
	border: 1px solid #7bc1f7;
	box-shadow: 0px 0px 8px #7bc1f7;
	-moz-box-shadow: 0px 0px 8px #7bc1f7;
	-webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

#grid {
	overflow-x: hidden;
	overflow-y: auto;
}

.dgrid-row {
	padding: 5px;
	margin-bottom: 5px;
	min-height: 100px;
	border-bottom: solid 1px #C0C0C0;
}
.dgrid-row .detail div {
	cursor: pointer;
}
.dgrid-row .detail div:hover {
	text-decoration: underline;
}
.distance {
	float: right;
	color: #C0C0C0;
	font-style: italic;
}